/* CSS declarations go here */

/* index page */
.indexTop {
    background-color: #698FB5;
}

.indexTop .col-xs-12{
    /*padding-bottom: 20%;*/
}

.indexBottom{
    background-color: #4B7AA7;
}

.indexBottom .col-xs-12{
    /*display: inline-flex;*/
    /*height: 100%;*/
    /*padding-bottom: 100%;*/
}

.indexBottom ul{
    list-style: none;
}