/* CSS declarations go here */

/* index page */
.indexTop {
    background-color: #698FB5;
}

.indexTop h1 {
    color: #FDFDFD;
}

.indexBottom {
    background-color: #4B7AA7;
}

.indexBottomWrapper {
    padding-bottom: 70px;
}

.handshakeTop {
  background-color: #6ACA6B;
  opacity: 0.44;
}

.handshakeBottom{
  background-color: #6ACA6B;
  opacity: 0.70;
}

.handshakeBottomWrapper {
    padding-bottom: 70px;
}
