/* CSS declarations go here */

/* index page */
.indexTop {
    background-color: #698FB5;
}

.indexTop h1 {
    color: #FDFDFD;
}

.indexBottom {
    background-color: #4B7AA7;
}

.indexBottomWrapper {
    padding-bottom: 70px;
}

.equal {
    display: flex;
    flex-wrap: wrap;
}

.equal > div[class*='col-'] {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .equal2, .equal2 > div[class*='col-'] {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex: 1 0 auto;
    }
}

.vcenter {
    justify-content: center;
}

.owedPage {
    background-color: #BCDFC0;
}

.owedList{
    background-color: #91B395;
}